* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.heading {
  color: #fff;
  background-color: rgb(59, 146, 187);
  padding: 20px;
  font-size: 50px;
  margin: 200px 500px;
  display: inline-block;
  text-transform: uppercase;
  margin: 50px;
}
/* img{
    padding: 10px;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 6px;
} */
body {
  font-family: "Roboto", sans-serif;
  background-color: #c4bdb7;
}
.card-info {
  padding: 10px;
}
.cards {
  display: flex;
  justify-content: center;
}
.card {
  flex: 0 0 33.33%;
  width: 23%;
  height: 240px;
  background: #fff;
  text-align: center;
  margin: 20px 5px;
  display: inline-block;
}
.card-title {
  margin: 5px 0;
}
.card-img {
  width: 100%;
  height: 130px;
}
button {
  padding: 5px;
  width: 140px;
  margin-bottom: 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  border: 1px solid #000 !important;
  transition: all 0.2s ease-in-out;
}
button:hover {
  color: #fff;
  background-color: #000;
}

img {
  width: 200px;
  height: 200px;
}
/* h1 {
  background: #fff;
  padding: 10px;
  display: block;
  text-align: center;
  margin-left: 0 i !important  ;
} */
.background {
  height: 100vh;
  width: 100vw;
}
.background button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.addtime {
  text-align: center;
  background-color: cornflowerblue;
  padding: 30px;
  display: block;
}
.livetime {
  text-align: center;
  background-color: #fffac0;
  padding: 30px;
  display: block;
}
.form-section {
  text-align: center;
  background-color: bisque;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.form-section input {
  max-width: 300px;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin: 20px auto;
}

.form-section button {
  margin: 0 auto;
}
input {
  background-color: #fff;
  border: 0px solid;
  color: rgb(102, 101, 101);
}
input:focus {
  outline: none;
}
form {
  display: flex;
  flex-direction: column;
}
